<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>League of Legends • Jhin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="jhin" class="container">

    <img [src]="splashUrl" alt="Jhin" class="splash">

    <h1>{{ jhin.name }}</h1>
    <h2>{{ jhin.title }}</h2>

    <p class="lore">
      {{ jhin.lore }}
    </p>

    <ion-button expand="block" color="warning" (click)="verHabilidades()">
      Ver Habilidades
    </ion-button>

  </div>
</ion-content>
